In [1]:
price1 = 15000
price2 = 25000
price3 = 45000

report = 'i sold two pairs of shirt for {}, a shoe for {} and a suit for {}'
print(report.format(price1,price2,price3))

i sold two pairs of shirt for 15000, a shoe for 25000 and a suit for 45000

In [2]:
print(f'i sold two pairs of shirt for {price2}, a shoe for {price1} and a suit for {price3}')

i sold two pairs of shirt for 25000, a shoe for 15000 and a suit for 45000

In [3]:
word1 = 'python'
word2 = 'PYTHON'
word3 = 'python is fun'
word4 = '   info@gmail.com'

print(word1.upper())
print(word2.lower())
print(word3.title())
print(word3.capitalize())
print(word3.split())
print(word4.strip())

PYTHON
python
Python Is Fun
Python is fun
['python', 'is', 'fun']
info@gmail.com

# Data Type Conversion

In [4]:
num1 = int(12.5)
print(num1)

12

In [5]:
num2 = str(45)
print(num2)

45

In [6]:
num3 = 252528.8235
print(int(num3))

252528

In [7]:
num4 = '50'
print(float(num4))

50.0

# OPERATORS

# Arithmetic operators 
## +  addition
## -  subtraction
## *  multiplication
## /  division
## %  modulous
## // integer division
## ** exponentia

In [2]:
number1 = 30
number2 = 15

print(f'{number1} + {number2} = {number1 + number2}')
print(f'{number1} - {number2} = {number1 - number2}')
print(f'{number1} x {number2} = {number1 * number2}')
print(f'{number1} / {number2} = {number1 / number2}')
print(f'{number1} % {number2} = {number1 % number2}')
print(f'{number1} // {number2} = {number1 // number2}')
print(f'{number1} ^ {number2} = {number1 ** number2}')

30 + 15 = 45
30 - 15 = 15
30 x 15 = 450
30 / 15 = 2.0
30 % 15 = 0
30 // 15 = 2
30 ^ 15 = 14348907000000000000000

# Comparism operators
## > greater than
## < less than
## >= greater than or equal to
## <= less than or equal to
## == equal to
## != not equal to

In [3]:
print(number1 > number2)
print(number1 < number2)
print(number1 >= number2)
print(number1 <= number2)
print(number1 == number2)
print(number1 != number2)

True
False
True
False
False
True

# LOGICAL OPERATORS
# and, or, not

In [4]:
print(number1 != number2 and number1 < number2)

False

In [5]:
print(number1 != number2 or number1 < number2)

True

In [6]:
print(not number1)

False

# MEMBERSHIP OPERATORS
# in, not in

In [7]:
word = 'School'
print('s' in word)

False

In [8]:
print('p' not in word)

True

# Identity Operators
# is, is not

In [9]:
print(number1 is number2)
print(number1 is not number2)

False
True